<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
      <div class="row col-12">
       <label for="inputEmail" class="sr-only">Email address</label>
       <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
    <br>
      <div class="row col-12">
       <label for="inputPassword" class="sr-only">Password</label>
       <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
    <br>
      <div class="row col-12">
        <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin();" type="button">Sign in</button>
      </div>
</form>